*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    overflow-y: scroll;
}
.navbar-nav{
    position: absolute;
    right: 40px;
}

.head{
    margin-top: 0px;
    height: 60vh;
    background-image: url("../assets/img/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    padding-top: 20px;
}
.white{
    color: white !important;
}
.title{
    width: 100%;
    position: absolute;
    top:120px;
    font-size: 90px;
}

.subtitle{
    font-size: 30px;
    position: absolute;
    top:250px;
    width: 100%;
}
.post{
    min-width: 300px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.post:first-of-type{
    margin-top: 70px !important;
}
form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.login-form{
    width: 100% !important;
    max-width: 500px !important;
}

#addpost-form > *{
    display: block;
}
@media (max-width : 992px){
    .navbar{
        background-color: white !important;
    }
    .navbar-brand{
        color : black !important;
    }
    .navbar-toggler{
        color: black !important;
    }
    .head{
        padding-top: 0px;
    }
    .nav-item{
        width: 100vw !important;
        margin-left : 40px;
    }
    .navbar-nav{
        position: static;
    }
    .nav-item > a{
        color :black !important;
    }
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}
.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}