<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
<div th:replace="navbar :: navbar"></div>
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>ADD POST</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<form th:action="@{/addpost}" th:object="${blog}"  id="addpost-form" method="post">
    <label for="title" class="mt-2 lead">Blog Title</label>
    <input type="text" id="title" th:field="*{title}" class="mt-1" required>
    <label for="description" class="mt-2 lead">Description</label>
    <input type="text" id="description" th:field="*{description}" class="mt-1" required>
    <label for="image_url" class="mt-2 lead">Blog Image URL</label>
    <input type="text" id="image_url" th:field="*{imageHeader}" class="mt-1" required>
    <label for="editor" class="mt-2 lead">Blog Content</label>
    <textarea id="editor" th:field="*{text}" class="mt-1" required></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<script src="https://kit.fontawesome.com/30c36676bf.js" crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
<footer class="mt-5">
    <div th:replace="footer :: footer"></div>
</footer>
</html>