<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
    <body>
    <div th:replace="navbar :: navbar"></div>
    <header class="masthead" th:style="'background-image: url(../static/assets/img/home-bg.jpg)'">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Blog Template</h1>
                        <span class="subheading">Blog Template with CRUD operations by Radu Bigan</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
        <div class="contact-form mt-4">
            <form th:action="@{/contact}" method="POST" th:object="${mess}">
                <div class="form-group">
                    <label for="name" class="mt-2 lead">Name</label>
                    <input class="form-control mt-1" id="name" name ="name" th:field="*{sender}" placeholder="Enter Name" required>
                </div>
                <div class="form-group">
                    <label for="email" class="mt-2 lead">Email</label>
                    <input class="form-control mt-1" id="email" name ="email" th:field="*{senderEmail}" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                    <label for="subject" class="mt-2 lead">Subject</label>
                    <input class="form-control mt-1" id="subject" name ="email" th:field="*{subject}" placeholder="Enter Subject" required>
                </div>
                <div class="form-group">
                    <label for="content" class="mt-2 lead">Message Content</label>
                    <textarea id="content" class="form-control mt-1" name ="content" th:field="*{content}" placeholder="Enter the content of the message" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
        <script src="https://kit.fontawesome.com/30c36676bf.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
    <footer class="mt-5">
        <div th:replace="footer :: footer"></div>
    </footer>
</html>