<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head :: head"></head>
    <body>
        <div th:replace="navbar :: navbar"></div>
        <header class="masthead" style='background-image: url("/assets/img/home-bg.jpg");'>
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Blog Template</h1>
                            <span class="subheading">Blog Template with CRUD operations and login system by Radu Bigan</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="posts">
            <div class="post" th:each="blog,iterStat :${blogs}">
                <a th:href="@{'/blog/' + ${blog.id}}"><p class="posttitle h1 fw-bolder" th:text="${blog.title}"></p></a>
                <p class="description fw-light h2" th:text="${blog.description}"></p>
                <p class="postedBy fw-lighter">Posted on <span th:text="${blog.date.toGMTString()}"></span> by <span class="fw-bold" th:text="${names[__${iterStat.index}__]}"></span></p>
                <div class="inline">
                    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.id == blog.authorId}" >
                        <a th:href="@{'/editpost/' + ${blog.id}}" class="btn btn-primary">EDIT</a>
                    </div>
                    <div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.user.hasRole('ADMIN') == true or #authentication.principal.user.id == blog.authorId}">
                        <form method="post" th:action="@{'/delete/' + ${blog.id}}" style="margin-left: 0px !important;">
                            <button type ="submit" class="btn btn-primary">DELETE</button>
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <script src="https://kit.fontawesome.com/30c36676bf.js" crossorigin="anonymous"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
    <footer class="mt-5">
        <div th:replace="footer :: footer"></div>
    </footer>
</html>